@font-face {
	font-family: 'Aquawax';
	src: URL('fonts/Aquawax\ Medium\ Trial.ttf') format('truetype');
}

.options-container {
	width: 100%;
	position: fixed;
	margin: 0px 0px 0px 0px;
	z-index: 0;
	height: 0;
}

#editorOptions {
	width: 300px;
	float: right;
	background-color: rgba(226, 233, 255, 0.73);
	padding: 10px;
	font-family: 'Aquawax', 'Times New Roman', serif;
	font-size: 20px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #656b7c;
	font-weight: 400;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	border-width: 2px;
	border-style: solid;
	border-color: #656b7c;
}

div.label {
	font-size: 18px;
}

div.label,
div.part-name {
	margin: 15px 0px 15px 0px;
}

.part-name {
	font-weight: bold;
}

.part-separator {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #bcbcbc;
}

.available-textures-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
}

.texture-icon-wrapper {
	padding: 2px;
}

.background-icon-color {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.texture-icon-container {
	padding: 5px;
	border-radius: 50%;
}

.texture-icon-wrapper.selected .texture-icon-container {
	background-color: #e96221;
}

.texture-icon-container:hover {
	background-color: #5dabef;
	cursor: pointer;
}

.texture-icon {
	width: inherit;
	height: inherit;
	vertical-align: middle;
}

.available-textures.hide {
	display: none;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.parts-container {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 1080px;
	/* Firefox */
	-moz-transition: max-height 0.25s ease-in;
	/* WebKit */
	-webkit-transition: max-height 0.25s ease-in;
	/* Opera */
	-o-transition: max-height 0.25s ease-in;
	/* Standard */
	transition: max-height 0.25s ease-in;
}

.parts-container.hide {
	overflow-y: hidden;
	max-height: 0px;
	/* Firefox */
	-moz-transition: max-height 0.25s ease-out;
	/* WebKit */
	-webkit-transition: max-height 0.25s ease-out;
	/* Opera */
	-o-transition: max-height 0.25s ease-out;
	/* Standard */
	transition: max-height 0.25s ease-out;
}

input[type=range] {
	-webkit-appearance: none;
	width: 75%;
	margin: 10px 0;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 75%;
	height: 7px;
	cursor: pointer;
	box-shadow: 0.7px 0.7px 0.8px rgba(0, 0, 0, 0.95), 0px 0px 0.7px rgba(13, 13, 13, 0.95);
	background: rgba(77, 164, 227, 0.5);
	border-radius: 25px;
	border: 1.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 0.6px 0.6px 2.3px #000000, 0px 0px 0.6px #0d0d0d;
	border: 1.5px solid #000000;
	height: 27px;
	width: 12px;
	border-radius: 4px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -11.2px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: rgba(77, 164, 227, 0.5);
}

input[type=range]::-moz-range-track {
	width: 75%;
	height: 7px;
	cursor: pointer;
	box-shadow: 0.7px 0.7px 0.8px rgba(0, 0, 0, 0.95), 0px 0px 0.7px rgba(13, 13, 13, 0.95);
	background: rgba(77, 164, 227, 0.5);
	border-radius: 25px;
	border: 1.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 0.6px 0.6px 2.3px #000000, 0px 0px 0.6px #0d0d0d;
	border: 1.5px solid #000000;
	height: 27px;
	width: 12px;
	border-radius: 4px;
	background: #ffffff;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 75%;
	height: 7px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: rgba(77, 164, 227, 0.5);
	border: 1.2px solid #010101;
	border-radius: 50px;
	box-shadow: 0.7px 0.7px 0.8px rgba(0, 0, 0, 0.95), 0px 0px 0.7px rgba(13, 13, 13, 0.95);
}

input[type=range]::-ms-fill-upper {
	background: rgba(77, 164, 227, 0.5);
	border: 1.2px solid #010101;
	border-radius: 50px;
	box-shadow: 0.7px 0.7px 0.8px rgba(0, 0, 0, 0.95), 0px 0px 0.7px rgba(13, 13, 13, 0.95);
}

input[type=range]::-ms-thumb {
	box-shadow: 0.6px 0.6px 2.3px #000000, 0px 0px 0.6px #0d0d0d;
	border: 1.5px solid #000000;
	height: 27px;
	width: 12px;
	border-radius: 4px;
	background: #ffffff;
	cursor: pointer;
	height: 7px;
}

input[type=range]:focus::-ms-fill-lower {
	background: rgba(77, 164, 227, 0.5);
}

input[type=range]:focus::-ms-fill-upper {
	background: rgba(77, 164, 227, 0.5);
}

.close-button {
	cursor: pointer;
	float: right;
	/* Firefox */
	-moz-transition: all 0.25s ease;
	/* WebKit */
	-webkit-transition: all 0.25s ease;
	/* Opera */
	-o-transition: all 0.25s ease;
	/* Standard */
	transition: all 0.25s ease;
}

.close-icon-container {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.close-button.close {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	/* Firefox */
	-moz-transition: all 0.25s ease;
	/* WebKit */
	-webkit-transition: all 0.25s ease;
	/* Opera */
	-o-transition: all 0.25s ease;
	/* Standard */
	transition: all 0.25s ease;
}

.close-button svg {
	width: 20px;
	height: 20px;
}

.top-menu {
	width: 100%;
	height: 30px;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bottom-parts {
	width: 100%;
	height: 30px;
}