.options-container {
	width: 100%;
	position: fixed;
	margin: 0px 0px 0px 0px;
	height: auto;
}

#editorOptions {
	width: 300px;
  float: right;
	background-color: aquamarine;
	padding: 10px;
}

.available-textures {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
}

.texture-icon-wrapper {
	padding: 5px;
}

.texture-icon-wrapper.selected {
	background-color: red;
}

.texture-icon-wrapper:hover {
	background-color: blue;
	cursor: pointer;
}

.texture-icon {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.available-textures.hide {
	display: none;
}